.auth-conteiner{
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.create-ucer_conteiner{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.auth form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.auth form label{
    font-weight: 600;
    color: rgb(199, 199, 199);
}
.inputAuth{
    padding-left: 8px;
    width: 100%;
    height: 40px;
    background-color: #5f5e5e;
    border: none;
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 8px;
}
.auth-btn_conteiner{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.auth form button{
    padding: 2px 20px;
    border: none;
    color: white;
    background-color: #FF6825;
    margin-top: 20px;
}
.create-ucer_conteiner p{
    color: rgb(199, 199, 199);
}
.create-ucer_conteiner p span{
    color: #FF6825;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 4px;
}
.opacity{
    opacity: 0.3;
    background-color: black;
    width: 100%;
    height: 100%;
}
.auth{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    width: 754px;
    height: 900px;
    background: #4b4a4a;
}
.avatarConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color:  #5f5e5e;
}
.avatarIcon{
    font-size: 50px;
    color:  #4b4a4a;
}
.authClouseBtn{
    float: right;
    color: #FF6825;
    font-size: 20px;
    background: transparent;
    border: 0;
    margin-right: 10px;
}
.create-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3F3F3F;
    width: 754px;
    height: 860px;
}
.auth h1{
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    color: #FF6825;
}
/* form p{
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 55px;
    color: #FEFEFE;
}
form input {
    background: #868686;
    opacity: 0.3;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 55px;
    text-transform: capitalize;
    color: black;
    height: 48px;
    width: 520px;
} */
