.topBar{
    display: flex;
}

.topBarSelect{
    margin-left: 20px;
}

.topBarSelect-label{
    color: #FF6825;
    font-weight: 600;
    font-size:18px;
    text-transform: capitalize;
}

.topBarSelect-select{
    margin-left: 6px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background-color: whitesmoke;
}

.topBarSelect-option{
    background-color: gainsboro;
}
