.booksSpinner{
    margin-top: 220px;
}
.wrapperBooks{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.booksContentWrapper{
    width: 100%;

}
.booksTopBar{
    display: flex;
    justify-content: flex-end;
    margin-left: -100px;
    margin-top: 10px;
    width: 100%;
}
.book-conteiner{
    margin-top: 20px;
    margin-left: 15px;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
.booksContent{
    display: flex;
}
